/* PARALLAX SCROLLING EXPERIMENT
   Master Styles
   Author: Jonathan Nicol (f6design.com)
*****************************************************************/

/* Extended base styles (site specific)
*****************************************************************/
/* custom code for Nissan project - 2017 Pulse */

html { 
	/*overflow-y: scroll;   always force a scrollbar in non-IE 	*/
	/*overflow: hidden;*/
	}
body {
	overflow: hidden;
	/*height: 5300px;*/
}

img { 
	display:block;
	}

/* Page structure
*****************************************************************/
#outerContainer {
	/*overflow: hidden;*/
}
#wrapper {
	/*overflow-y: scroll;*/
	height: 5300px;
	/*overflow-y: auto;*/
	overflow-y: scroll;
	position: relative;
	/*display: none;*/
}
#branding {
	width: 100%;
}

/* Arduino Value
*****************************************************************/
.ard.show.A0 {
	top: 0;
	z-index: 9;
	color: #FF00FF;
	position: fixed;
}
/* Video
*****************************************************************/
.video {
	top: 0;
	z-index: 7;
	/*display: none;*/
	position: fixed;
}

video {
/*	min-width: 100%;
	min-height: 100%;
    object-fit: fill;*/
    width: 1080px;
    height: 1920px;
}
/* Parallax
*****************************************************************/

#parallax-bg6 {
	z-index: 6;
	width: 1876px;
	position: fixed;
}
#parallax-bg5 {
	z-index: 5;
	width: 1876px;
	position: fixed;
}
#parallax-bg4 {
	z-index: 4;
	width: 1876px;
	position: fixed;
}
#parallax-bg3 {
	z-index: 3;
	width: 1876px;
	position: fixed;
}
#bg3-1 {
	position: absolute;
}
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	width: 1876px;
}
#bg2-1 {
	position: absolute;
	/*top: 162px;
	left: 800px;*/
}
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	width: 3037px;
}
#bg1-1 {
	position: absolute;
}


/* 
parallax-bg6 -> texto
parallax-bg5 -> puntos
parallax-bg4 -> lineas
parallax-bg3 -> delineado
parallax-bg2 -> carro
parallax-bg1 -> fondo
*/
